/*
    this is a reset it applies to everything
*{
    margin:0
    padding:0
}
*/

body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* same as ^ */
    font: normal 16px Arial, Helvetica, sans-serif;
    
    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

a:active{
    color: green;
}

.container{
    width: 80%;
    margin: auto;
}

.button{
    background-color: #333;
    color: #fff;
    padding: 1em;
    border: none;
}
.button:hover{
    background-color: forestgreen;
}

.clr{
    clear: both;
}

.box-1{
    background-color: #333;
    color: #fff;
    border: 5px red solid;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0;
}

.box-1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
}

.box-2 {
    border: 3px dotted #ccc;
    padding: 1em;
    margin: 1em 0;
}

.categories{
    border: 1px #ccc solid;
    padding: 1em;
    border-radius: 2em;
}

.categories h2{
    text-align: center;
}

.categories ul{
    list-style: none;
}

.categories li{
    padding-bottom: 0.2em;
    border-bottom: solid 1px #333;
    list-style-image: url('../images/check.jpg');
}

.my-form{
    padding: 1em;
}

.my-form .form-group{
    padding-bottom: 0.5em;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form input[type="email"], .my-form textarea{
    padding: 0.5em;
    width: 100%;
}

.block{
    float: left;
    width: 32%;
    border: 0.1em solid #ccc;
    padding: 1em;
    margin: 0.1em;
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 70%;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em 0;
}
#sidebar{
    float:right;
    width: 30%;
    background-color: #000;
    color: #fff;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em 0;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
}

.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    top: 40px;
    left: 100px;
}
